@media (max-width: 520px) {
  .header__container {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header__logo {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }
  .search {
    display: none;
  }
  .modal__content {
    max-width: 375px;
  }
  .modal__form {
    width: 315px;
  }
  .contact {
    width: 315px;
  }
}

@media (max-width: 390px) {
  .modal__content {
    max-width: 315px;
  }
  .modal__form {
    width: 255px;
  }
  .contact {
    width: 255px;
  }
  .delete-modal__content {
    min-width: 255px;
  }
}